{% extends "main.html" %}
{% block content %}
    <h1>Monzo API</h1>
    <p>Prior to being able to query the API you first need to set up an Access token. To find out how to do this you
        can follow this <a href="https://monzo-api.readthedocs.io/en/latest/monzo_setup.html#">handy tutorial</a>.</p>
    <p>When setting up be sure to set the redirect URL to be <b>{{ REDIRECT_URL }}</b></p>
    {% include 'error.html' %}
    <form method="post" action="/setup/">
        <div class="row">
            <div class="col-3"><label for="client_id">Client ID</label></div>
            <div class="col-9"><input type="text" value="{{ CLIENT_ID_VALUE }}" id="client_id" name="client_id" class="col-9" /></div>
        </div>
        <div class="row">
            <div class="col-3"><label for="client_secret">Client Secret</label></div>
            <div class="col-9"><input type="text" value="{{ CLIENT_SECRET_VALUE }}" id="client_secret" name="client_secret" class="col-9" /></div>
        </div>
        <div class="row">
            <div class="col-12"><input type="submit" name="Submit"></div>
        </div>
    </form>
{% endblock %}
