.container {
  width: auto;
  padding: 0 15px;
}

header{
    padding: 0 20px;
    text-align: center;
}

nav{
    background-color: #14233c;
}

.nav-link{
    color: #fff;
}

.nav-link:active{
    color: #fff;
}

.nav-link:visited{
    color: #fff;
}

.nav-link:hover{
    color: #fff;
}

.navbar-brand{
    color: #fff;
}

.navbar-brand:active{
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

.navbar-brand:visited{
    color: #fff;
}

.footer{
    text-align: center;
    background-color: #14233c;
    color: #fff;
    font-weight: bold;
}

.row{
    padding-bottom: 10px;
}

button{
    border-radius: 30px;
    background-color: #2991cc;
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
}

button:hover{
    border-radius: 30px;
    background-color: #145d8e;
    color: #fff;
    padding: 8px 20px;
    font-weight: bold;
}
